@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--text);
    color: black;
    font-weight: 300;
}

html{
    font-size: 16px;
}

#proyecto1{
    background: url(assets/gestion-de-proyectos-1.png) no-repeat center center;
    background-size: cover;
    max-height: 90px;
}
#proyecto2{
    background: url(assets/images\ \(1\).png) no-repeat center center;
    background-size: cover;
    max-height: 90px;
}




#hero {
    background: url(../img/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    max-width: 55vw;    
}

#hero {
    padding: 16vh 0;
    text-align: center;
    color: white;
}
#titulo{
    font-size: 3vw;
    font-weight: bold;
}
#proyecto-uno{
    background: url(assets/MiFoto.png) no-repeat center center;
    background-size: cover;
}
#proyecto-dos{
    background: url(assets/images\ \(1\).png) no-repeat center center;
    background-size: cover;
}
#proyecto-tres{
    background: url(assets/gestion-de-proyectos-1.png) no-repeat center center;
    background-size: cover;
}
#proyecto-texto{
    text-align: center;
    min-height: 8vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
}
#proyecto-texto p{
    color: aliceblue;
}

footer{
    background-color: black;
}
footer article div{
    color: white;
}
footer article div strong{
    color: white;
}
